.rbs4-debug .row > div {
  border: 1px dotted rgba(255, 0, 0, 0.5);
}

.rbs4-container-fluid-full {
  padding-right: 0 !important;
  padding-left: 0 !important;
  > .row {
    margin-right: 0 !important;
    margin-left: 0 !important;

  }
}

.rbs4-fullHeight {
  min-height: 100vh;
}

.rbs4-flex {
  display: flex;
  flex-wrap: wrap;
}

.rbs4-push-left {
  margin-left: auto;
}

.rbs4-push-right {
  margin-left: auto;
}

.rbs4-push-center {
  margin: 0 auto;
}

[class*="col-"] {
  &.rbs4-no-gutter {
    padding-right: 0;
    padding-left: 0;
  }
}

